<div class="main-sidebar-nav default-navigation">
    <div class="nano">
        <div class="nano-content sidebar-nav">

            <div class="card-body border-bottom text-center nav-profile">
                <div class="notify setpos"> <span class="heartbit"></span> <span class="point"></span> </div>
                <img alt="profile" class="margin-b-10  " src="assets/img/avtar-2.png" width="80">
                <p class="lead margin-b-0 toggle-none">John Doe</p>
                <p class="text-muted mv-0 toggle-none">Welcome</p>
            </div>

            <ul class="metisMenu nav flex-column" id="menu">
                <li class="nav-heading"><span>MAIN --------------------------------------------------</span></li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/client}" aria-expanded="false"><i class="fa fa-home"></i>Home</a>
                    <a class="nav-link" th:href="@{/client}" aria-expanded="false"><i class="fa fa-codepen"></i>Clients</a>
                </li>

                <li class="nav-heading"><span>FORMS, OPERATIONS  -------------------------</span></li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/abonnement}" ><i class="fa fa-briefcase"></i>Abonnement</a>
                    <a class="nav-link" th:href="@{/abonner}"><i class="fa fa-cogs"></i>Abonner</a>
                    <a class="nav-link" th:href="@{/consommation}" ><i class="fa fa-table"></i>Consommation</a>
                </li>

                <li class="nav-heading"><span>COMPTABILITE  -------------------------------------</span></li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/facturation}" aria-expanded="false"><i class="fa fa-shopping-cart"></i>Facturation</a>
                    <a class="nav-link" th:href="@{/paiement}" aria-expanded="false"><i class="fa fa-briefcase"></i>Paiement</a>
                </li>
            </ul>
        </div>
    </div>
</div>
